<%- include("header") %>
<div class="users-view-wrap">
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-122">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <h4 style="color: black; font-weight: 800;">Achievements Collection</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a href="/achievementadd" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                        <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>User Id</th>
                <th>Achievement</th>
                <th>Description</th>
                <th>Earned At</th>
            </tr>
        </thead>
        <tbody>
            <% achievements.forEach(achievement => { %>
                <tr>
                    <td>
                        <a href="/achievementedit/<%= achievement._id %>" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                        <a href="/achievementdelete/<%= achievement._id %>" class="btn btn-danger"><i class="fa fa-times"></i></a>                    
                    </td>
                    <td><%= achievement.user_id %></td>
                    <td><%= achievement.achievement_name %></td>
                    <td><%= achievement.description %></td>
                    <td><%= achievement.earned_at %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>
</div>
<%- include("footer") %>