<%- include("header") %>
<center>
    <h5 style="margin-top: 30px; background-color: black; color: white; width: 50%;">Edit question</h5>
</center>
<div class="container d-flex justify-content-center mt-3" style="width:100%;">
    <div class="col-md-6">
        <form action="/questioneditpost" method="post">
            <% if (question && question._id) { %>
                <input type="hidden" name="id" value="<%= question._id %>">
            <% } %>

            <div class="form-group row">
                <label for="question" class="col-sm-3 col-form-label">
                    Question
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="question_text" value="<%= question ? question.question_text : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="type" class="col-sm-3 col-form-label">
                    Type
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="type" value="<%= question ? question.type : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="created_by" class="col-sm-3 col-form-label">
                    Options
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="options" value="<%= question ? question.options.join(',') : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="correct_answer" class="col-sm-3 col-form-label">
                    Correct Answer
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="correct_answer" value="<%= question ? question.correct_answer : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="explanation" class="col-sm-3 col-form-label">
                    Explanation
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="explanation" value="<%= question ? question.explanation : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="tags" class="col-sm-3 col-form-label">
                    Tags
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="tags" value="<%= question ? question.tags.join(',') : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" class="btn btn-default" value="Submit" aria-pressed="true">
                </div>
            </div>
        </form>
    </div>
</div>
<%- include("footer") %>
