<%- include("header") %>
<center>
    <h5 style="margin-top: 30px; background-color: black; color: white; width: 50%;">Edit User</h5>
</center>
<div class="container d-flex justify-content-center mt-3" style="width:100%;">
    <div class="col-md-6">
        <form action="/usereditpost" method="post">
            <% if (user && user._id) { %>
                <input type="hidden" name="id" value="<%= user._id %>">
            <% } %>

            <div class="form-group row">
                <label for="firstName" class="col-sm-3 col-form-label">
                    First name
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="firstname" value="<%= user ? user.first_name : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-3 col-form-label">
                    Last Name
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="lastname" value="<%= user ? user.last_name : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">
                    Email
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" name="email" value="<%= user ? user.email : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">
                    Password
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" value="<%= user ? user.password : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="role" class="col-sm-3 col-form-label">
                    Role
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="role" value="<%= user ? user.roles : '' %>" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" class="btn btn-default" value="Submit" aria-pressed="true">
                </div>
            </div>
        </form>
    </div>
</div>
<%- include("footer") %>
